<footer>
    <div class="background d-flex flex-column flex-md-row justify-content-between align-items-start p-3 p-md-5">

        <div class="left-content mt-4 mt-md-0">

            <address class="col-7 col-md-6 mb-2">

                <a href="https://maps.app.goo.gl/2H3KZpuLXVgs17La6" target="_blank">
                    101 cours Charlemagne
                    CS 20033
                    69269 LYON CEDEX 02
                    France
                </a>

            </address>

            <a class="bloc-footer col-md-12" href="tel:+33 (0)4 26 73 40 00">Téléphone : +33 (0)4 26 73 40 00 </a>

        </div>

  
     <div class="col-12 col-md-6 text-md-end">
        <div class="right-content d-flex flex-wrap justify-content-md-end g-3">
           
            <div class="col-6">
                <a [routerLink]="['/mention-legales']"><h4 class="fs-5">Mentions légales</h4></a>
                <a [routerLink]="['/donnees-personnelles']"><h4 class="fs-5">Données personnelles</h4></a>
            </div>
           
            <div class="col-6">
                <a [routerLink]="['/declaration-accessibilite']"><h4 class="fs-5">Déclaration d'accessibilité</h4></a>
                <a [routerLink]="['/gestion-des-cookies']"><h4 class="fs-5">Gestion des cookies</h4></a>
            </div>
        </div>
    </div>


    </div>

    <small class="z-1">
        <div class="d-flex flex-column align-items-center justify-content-center gap-1 p-1">
            <div class="gap-1">
                <!-- <img class="copyright" [src]="copyright" alt="symbole de copyright" />  -->
                <span class="fs-9">Designed by N. Jean-Pierre</span>
            </div>
        </div>
    </small>
</footer>


