/* Bouton burger */
.navbar-toggler {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: white;
}

.navbar-menu {
    display: flex;
    gap: 100px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.nav-link.active {
    color: #0074c7;

    &:hover{
        color:#0074c7 ;
    }
}