.navbar-toggler {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: white;
}

.navbar-menu {
    display: flex;
    gap: 100px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.nav-link.active {
    color: #0074c7;
}

.nav-link:hover {
    color: #0074c7;
}

/* Écrans moyens (tablettes) */
@media (max-width: 768px) {
    .navbar-toggler {
        display: flex;
    }

    .navbar-menu {
        display: none; /* Masqué par défaut */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #384050f9;
        z-index: 1000;
        padding: 20px;
        gap: 30px;
    }

    .navbar-menu.open {
        display: flex;
    }

    .nav-link {
        padding: 10px 0;
    }
}

/* Smartphones et très petits écrans */
@media (max-width: 576px) {
    .nav-link {
        font-size: 1rem;
        padding: 10px;
    }
}
