.cadre {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 50px;
}

.encadrement-contenu {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-evenly; 
    padding: 20px;
    border-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
    row-gap: 4rem;
    column-gap: 4rem;
    width: 100%;
}

.encadrement-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 280px;
    height: 280px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 11px 2px #384050;
    background-color: #f1f8fc;
    box-sizing: border-box; 
    line-height: 1.2;
    border-radius: 10px;
    font-size: 1.7rem;
}

.para-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #00497c ;
    color: white; 
    font-size: 1.25rem; 
    font-weight: bold; 
    position: absolute;
    top: 10px; 
}
  
.para-2 {
    margin-top: 20px; 
    text-align: center;
}

p{
    margin: 0;
}

.titre-1 {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 3.625rem;
    border-top-width: 0.25rem;
    border-top-style: solid;
    border-color: #82b864;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
}

.top-artisans {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin-top: 100px;
    width: 100%;
}

.artisan-card {
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box; 
    padding: 15px; 
    border: 1px solid #cd2c2e; 
    text-align: center; 
    box-shadow: 2px 2px 11px 2px #384050;
    background-color: #00497c;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
}

.artisan-link {
    color: white;
    text-decoration: none;
  
    &:hover {
      color: #82b864 ; 
      text-decoration: underline; 
    }
}

/* Ecrans moyens (tablettes) */
@media (max-width: 768px) {
    .top-artisans {
        gap: 20px; 
    }

    .artisan-card {
        flex-basis: 80%; 
        max-width: 80%;
        margin-bottom: 10px;
    }
}

/* Ecrans petits (smartphones) */
@media (max-width: 576px) {

    .artisan-card {
        flex-basis: 100%; 
        max-width: 100%;
        margin-bottom: 10px;
    }

    .titre-1 {
        font-size: 1.5rem;
    }
} 